body {
	font-family: consolas;
}

header {
        top: 0%;
        left: 0%;
}

header div {
        background-color: darkblue;
        color: white;
        width: 100%;
        height: 80px;
        left: -1px;
        top: 0px;
}
header div ul {
        list-style-type: none;
        margin: 0px;
        padding: 0px;
        overflow: hidden;
}

header div li {
        display: block;
        color: white;
        padding: 10px;
        float: left;
}

header div li:hover {
        background-color: rgb(4, 4, 163);
        color: rgb(236, 233, 233);
        cursor: pointer;
}

.usernameLabel {
        float: right;
        margin-right: 30px;
}