body .beginText {
        text-align: center;
}
.beginText {
       
        padding: 20px;
        background-color: #1A1A1D;;
        color: white;
        font-size: large;
        font-family: 'Franklin Gothic Medium', Arial, sans-serif;
        height: 500px;
}

.offerTable {
        display: flex;
}

.columns {
        flex: 1 1 0px;
        float: left;
        width: 30%;
        text-align: center;
        padding: 10px;
}


.title {
        font-size: 30px;
        padding: 15px;
}

.infoText {
        font-size: 20px;
        color: white;
}

.offer {
        background-color: #1A1A1D;
        border: 1px solid#6F2232;
        color: #C3073F;
        list-style-type: none;
        -webkit-transition: 0.3s;
        transition: 0.3s;
        height: 300px;
        padding: 5px;
        max-width: 500px;
}



.middleText {
        font-size: large;
        font-family: 'Franklin Gothic Medium', Arial, sans-serif;
        background-color: #1A1A1D;
        color: white;
        text-align: center;
        min-height: 400px;
}


.leftText {
        float: left;
        padding: 20px;
}

.leftText p {
        width: 400px;
        padding: 20px;
        float: left;
}

.privacyImg {
        float: right;
        width: 400px;
        height: 350px;
        margin-top: 20px;
}

@media screen and (min-width: 1100px) {
        .leftText h3 {
                font-size: 30px;
        }
        .leftText p {
                width: 700px;
                font-size: 25px;
        }
        .privacyImg {
                padding-right: 20%;
        }
}

.endText {
        font-size: large;
        font-family: 'Franklin Gothic Medium', Arial, sans-serif;
        background-color: #1A1A1D;
        color: white;
        text-align: center;
        min-height: 400px;
        padding: 10px;
}

.rightText {
        float: right;
        padding: 20px;
}

.rightText p {
        width: 400px;
        padding: 20px;
        float: right;
}


.hackerImg {
        float: left;
        width: 350px;
        height: 300px;
        margin-top: 20px;
}

@media screen and (min-width: 1100px) {
        .rightText h3 {
                font-size: 30px;
        }
        .rightText p {
                width: 700px;
                font-size: 25px;
        }
        .hackerImg {
                padding-left: 20%;
        }
}


.parallax {
        background-image: url("/static/Lake-Moon-night.png");

        min-height: 600px;

        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        color: white;
        font-size: 50px;
}

.parallax span {
        position: absolute;
        padding: 50px;
        cursor: pointer;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@media screen and (min-width: 1100px) {
        .parallax span {
                padding-left: 20%;
        }
}

.parallax p {
        float: right;
        font-size: 20px;;
        margin-right: 20px;
        cursor: pointer;
}

.parallax2 {
        background-image: url("/static/Lake-Moon-night.png");

        min-height: 300px;

        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}


.parallax3 {
        background-image: url("/static/Lake-Moon-night.png");

        min-height: 350px;

        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}
